body {
    margin: 0;
}
h1 {
    margin: 0;
    position: relative;
    top: 9%;
    color: white;
}
img {
    text-align: center;
    position: relative;
    z-index: 999;
    right: 7px;
}
.person {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    bottom: 0;
    position: absolute;
}
.person_1 {
    width: 80%;
    margin: 0 auto;
}
.container1 {
    background-image: url(img/bg_image.png);  
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center center;   
    height: 100vh; 
    background-size: cover;  
}
.container2 {
    height: 100vh;
}